<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../static/css/styly.css"
          th:href="${'css/styly.css'}"/>
    <link rel="icon" href="../static/images/favicon.png"
          th:href="${'images/favicon.png'}"/>
    <title>Jednoduchy formular</title>
</head>
<body>
    <div class="page">

        <h1>Java 2</h1>
        <form method ="post">
         <table>
         <tr>
            <td> <label for="idFirstName"> First name:</label> </td>
            <td>
              <input id="idFirstName" name="firstName" type="text"/>
            </td>
         </tr>

          <tr>
            <td> <label for="idLastName"> Last name: </label></td>
                <td>
                    <input id="idLastName" name="lastName" type="text"/>
            </td>
          </tr>

            <tr>
                 <td> </td>
                  <td>
                     <input type="submit" value="Ulozit"/>
                  </td>
            </tr>


        </table>
        </form>

    </div>
</body>
</html>
