<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cs" lang="cs"
      xmlns:th="http://www.thymeleaf.org"> 
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet"
          href="css/styles.css"
          th:href="${'css/styles.css'}"/>
    <link rel="icon"
          href="images/favicon.png"
          th:href="${'images/favicon.png'}"/>
    <title>Pexeso</title>


</head>
<body>

    <h1>Pexeso</h1>

    <!--/* pouzijem post methodu a kazda z kariet bude inputom.  -->
    <form method="post" class="pexeso">
        <!--/* karty si obalim do bloku aby som mohla pouzit "foreach" pre kazdu kartu z databazy a posudit u nej 3 stavy s naslednou akciou- odkrytaKarta,NeodrkytaKarta a Odobrana karta  -->
        <th:block th:each="karta , pocitadlo : ${aktualniHerniPlocha.karticky}" style="display: none;">
            <input class="karta"
                   type="image"
                   th:if="${karta.stav == T(cz.czechitas.webapp.entity.CardState).FACE_UP}"
                   th:src="${'images/karta' + karta.cisloObrazku + '.jpg'}"
                   th:name="${'vybranaKarta' + pocitadlo.index}"/>
            <input class="karta"
                   type="image"
                   th:if="${karta.stav == T(cz.czechitas.webapp.entity.CardState).FACE_DOWN}"
                   th:src="${'images/rub.png'}"
                   th:name="${'vybranaKarta' + pocitadlo.index}"/>
            <img class="karta bez-karty"
                 th:if="${karta.stav == T(cz.czechitas.webapp.entity.CardState).COLLECTED}"
                 th:src="${'images/empty.png'}"/>
        </th:block>

        <!--/* Following block is removed by ThymeLeaf -->
            <input type="image" src="images/rub.png" name="vybranaKarta0"/>
            <input type="image" src="images/rub.png" name="vybranaKarta1"/>
            <input type="image" src="images/rub.png" name="vybranaKarta2"/>
            <input type="image" src="images/rub.png" name="vybranaKarta3"/>

            <input type="image" src="images/rub.png" name="vybranaKarta4"/>
            <input type="image" src="images/rub.png" name="vybranaKarta5"/>
            <input type="image" src="images/rub.png" name="vybranaKarta6"/>
            <input type="image" src="images/rub.png" name="vybranaKarta7"/>

            <input type="image" src="images/rub.png" name="vybranaKarta8"/>
            <input type="image" src="images/rub.png" name="vybranaKarta9"/>
            <input type="image" src="images/rub.png" name="vybranaKarta10"/>
            <input type="image" src="images/rub.png" name="vybranaKarta11"/>

            <input type="image" src="images/rub.png" name="vybranaKarta12"/>
            <input type="image" src="images/rub.png" name="vybranaKarta13"/>
            <input type="image" src="images/rub.png" name="vybranaKarta14"/>
            <input type="image" src="images/rub.png" name="vybranaKarta15"/>

    </form>

</body>
</html>
