<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../static/css/styly.css"
          th:href="${'css/styly.css'}"/>
    <link rel="icon" href="../static/images/favicon.png"
          th:href="${'images/favicon.png'}"/>
    <title>E-shop</title>
</head>
<body>
    <div class="page">


        <h1> Moj e-shop - shopping basket</h1>
        <a href="index.html" th:href="@{/}"> homepage </a>

        <table style="width:60%">
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Quantity in basket</th>
            </tr>
            // polozku si mozem nazvat ako chcem ale taham ju s templatu kosik
            <tr th:each = "item : ${items}">
                <td span th:text="${item.name}">Lemons</span></td>
                <td span th:text="${item.price}">13,99</span></td>
                <td span th:text="${item.quantity}">0,897g</span></td>
            </tr>
            <tr th:remove="all">
                <td>Oranges</td>
                <td>1,29$ per kg</td>
                <td>1,23 g</td>
            </tr>
        </table>



    </div>
</body>
</html>
